@tailwind base;
@tailwind components;
@tailwind utilities;


.delete-btn{
    background-color: rgb(255, 115, 0);
    color: aliceblue;
    padding: 0 5px;
}

.task {
    background-color: rgb(255, 220, 168);
    justify-content: space-between;
}

#todo-form{
    display: block;
}

.preview-item {
    display: hidden;
}
.preview-btn {
    background-color: rgb(255, 0, 0);
    color: aliceblue;
    padding: 0 5px;
}

.preview {
    display: hidden;
}